:root {
  --white: #FEFEFE;
  --main-color: #846B8A;
  --accent-color: #B8F2E6;
  --color1: #CFA5B4;
  --color2: #F7D4BC;
}


body{
  font-family: 'Raleway', sans-serif;
  background-color: var(--color1);
  display: flex;
}

.item{
  order: 1;
}


.container{
  display:flex;
  padding:5px;
}

#block-filters-container button {
  border: 3px white;
  background-color: var(--color1);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: bold;
  height: 40px;
  border-radius: 3px;
  margin: 3px;
}

#block-filters-container button:hover {
  background-color: var(--color2);
}

#block-filters-container button .selected{
  background-color: var(--accent-color);
}

#quaver-select-container button, #inputs button {
  border: 3px white;
  background-color: pink;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: bold;
  height: 40px;
  border-radius: 3px;
  margin: 3px;
}

#primary-container{
  flex-direction: column;
  background-color: var(--color1);
}

#panels-container{
  flex-direction: row;
}

#main-container{
  flex-direction: column;
}

#block-filters-container{
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-color)   ;
}

#quaver-select-container{
  flex-direction: column;
  justify-content: space-around;
}

#blocks-select-container{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: var(--main-color);
  /*flex-grow: 1;*/
  overflow-y: scroll;
}

#inputs {
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-color);
}

#inputs button:hover{
  background-color: var(--accent-color);
}



#target {
  height: 100%;
  overflow-y: hidden;
  flex-grow:1;
}

#target-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height:200px;
}


canvas {
  
}

.canvas-container{
  width: 100%;
  height: 100%;
  background-color: white;
}



.block {
  height: 80px;
  flex-basis: 200px;
  padding: 8px;
  background-color: var(--color1);
  border-radius: 5px;
  margin: 10px;
}

.block:hover {
  background-color: var(--color2);
}

.block.selected{
  background-color: var(--accent-color);
}

