.container{
  display:flex;
}

.item{
}

#primary-container{
  flex-direction: column;
}

#level-select-container{
  flex-direction: row;
  justify-content: space-around;
}

#quaver-select-container{
  flex-direction: column;
}

#blocks-select-container{
  flex-direction: row;
  flex-wrap: wrap;
}

svg {
  width: 100%;
  border: 2px solid blue;
  background-color: white;
}

.block {
  height: 100px;
  flex-basis: 210px;
  flex-grow: 1;
  padding: 15px;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
}

.block:hover {
  background-color: green;
}

