:root {
  --white: #FEFEFE;
  --bold-color: #16001E;
  --highlight: #81A9BA;
  --primary-1: #DE639A;
  --primary-2: #7F2982;
  --primary-2hov: #964F98;
  --highlighthov: #8DB9CC;
  --primary-1hov: #E47FAC;
}


/*Clear out the focus border*/
*:focus{
  outline:0;
}


body{
  font-family: 'Raleway', sans-serif;
}

.item{
  order: 1;
}

a {
  color: grey;
}

a.active{
  color: white;
}


.container{
  display:flex;
  padding:5px;
}

#header-brand, #intro-modal h1{
  font-size: 45px;
  color: var(--highlight);
  text-shadow: 2px 2px 1px var(--bold-color);
  font-family: 'Righteous', sans-serif;
  font-style: italic;
  font-weight: bolder;
}

#intro-modal h1{
  width: 100%;
  color: var(--primary-1);
  text-align: center;
  align-content: center;
}


.level-button {
  background-color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: bold;
  height: 50px;
  width: 50px;
  border: 2px solid var(--primary-2);
  border-radius: 5px;
  margin: 3px;
  filter: brightness(80%);
  overflow: hidden;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.level-button img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.level-button.selected {
  border: 2px solid var(--highlight);
  box-shadow: 0 0 10px var(--highlight);
  filter: brightness(100%);
}

.level-button.hidden { 
  display: none;
}

#level-select-buttons, #custom-level-select-buttons{
  flex-direction: row;
  justify-content: center;
}

#primary-container{
  flex-direction: column;
  background-color: var(--white);
}

#panels-container{
  flex-direction: row;
}

#main-container{
  flex-direction: column;
}

#difficulty-buttons-container{
  flex-direction: row;
  align-items: center;
}

#difficulty-select-buttons{
  flex-direction: row;
  justify-content: center;
}


.difficulty-button {
  border: 3px white;
  background-color: var(--primary-2);
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  border-radius: 3px;
  margin: 3px;
  padding: 10px;
  color: #aaa;
}

.difficulty-button.selected {
  background-color: var(--highlight);
  color: var(--white);
}

.difficulty-button.selected:hover {
  color: var(--white);
}

.difficulty-button:hover:not(.selected) {
  background-color: var(--primary-2hov);
}






.button-image{
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#quaver-select-container{
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4.0%;
}


/*///////BLOCKS///////////*/
#blocks-select-container{
  flex-direction: column;
  justify-content: top;
  align-content: CENTER;
  background-color: var(--bold-color);
  margin: 0px;
}

.block-subset-container{
  flex-direction: row;
  flex-wrap: wrap;
}

/*wanna toggle the blocks?*/
#blocks-select-container.hidden{
  display: none;
}


.block {
  height: 80px;
  flex-basis: 11%;
  display: flex;
  flex-direction: row;
  min-width: 100px;
  padding: 3px;
  background-color: var(--primary-2);
  border: 2px solid var(--primary-2);
  border-radius: 5px;
  margin: 3px;
  justify-content: CENTER;
}

.block:hover {
  border: 2px solid var(--primary-2hov);
  background-color: var(--primary-2hov);
}

.block.selected{
  border: 2px solid var(--highlight);
  box-shadow: 0 0 12px var(--highlight);
  background-color: var(--highlight);
}

.block.selected:hover{
  border: 2px solid var(--highlighthov);
  background-color: var(--highlighthov);
}

.block .canvas-container{
  background-color: #aaa;
  border-radius: 3px;
}

.block.selected .canvas-container{
  background-color: var(--white);
}



/*//////INPUTS/////////////*/

#inputs {
  flex-direction: row;
  justify-content: center;
  background-color: var(--bold-color);
}

#inputs button{
  font-family: Raleway, sans-serif;
  font-size: 30px;
  background-color: var(--highlight);
  border: 2px solid var(--highlight);
  border-radius: 3px;
  margin-left: 3px;
  color: var(--white);

}

#inputs button.dark{
  background-color: var(--primary-1);
  border-color: var(--primary-1);
  font-size: 16px;
  color: black;
}

#inputs button:hover{
  box-shadow: 0 0 10px var(--white);
}

#inputs button:active{
  background-color: var(--primary-1);
  box-shadow: 0 0 18px var(--primary-1);
  border-color: var(--primary-1);
}



/* CONTROL BUTTONS ////////*/
.control-button{
  font-family: Raleway, sans-serif;
  font-size: 11px;
  background-color: var(--primary-2);
  border: 1px solid var(--primary-2);
  border-radius: 3px;
  
  height: 50px;
  width: 50px;
  border: 2px solid var(--primary-2);
  border-radius: 5px;
  margin: 3px;
  font-weight: bold;
  color: #ccc;
}

.control-button.selected{
  background-color: var(--highlight);
  border-color:  var(--highlight);
  color: var(--white);
}

.control-button.selected:hover{
  background-color: var(--highlighthov);
  background-color: var(--highlighthov);
}

.control-button:hover{
  background-color: var(--primary-2hov);
  background-color: var(--primary-2hov);
}

.control-button.hidden{
  display: none;
}

#tuplets-toggle-button{
  border: 2px solid var(--primary-2);
  background-image: url("../images/tupletoggle.PNG");
  background-size: 100%;
  filter: brightness(60%);
}

#tuplets-toggle-button:hover{
  filter: brightness(75%);
}

#tuplets-toggle-button.selected{
  filter: brightness(100%);
}

#tuplets-toggle-button.selected:hover{
  filter: brightness(90%);
}

.level-button:not(.selected):hover{
  filter : brightness(85%);
  box-shadow: 0 0 5px var(--highlight);
}
  






/*/////TARGETS AND CANVASES/////*/
#target {
  height: 100%;
  overflow-y: hidden;
  flex-grow:1;
}

#target-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height:250px;
  width: 90vw;
}


canvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  
}

.canvas-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99%;
  height: 99%;
  background-color: white;
}


/*////METRONOME//////*/
#metronome-controls, #option-buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bpm{
  width: 4em;
}


/*//// NAVBAR////*/
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 40px;
  background-color: var(--white);
}






